<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <context:property-placeholder location="classpath: musicPlayer.properties"/>-->
    <!--        <context:property-placeholder location="musicPlayer.properties"/>-->

    <bean id="musicBean" class="music.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy" scope="prototype" factory-method="getClassicalMusic">
    </bean>

    <!--    //scope singleton это и init и destroy-->
    <!--    //scope prototype это init на каждый объект, но нет destroy-->

    <!--    <bean id="musicPlayer" class="music.MusicPlayer"-->
    <!--          scope="prototype">-->
    <!--        <property name="music" ref="musicBean"/>-->
    <!--        <property name="name" value="Sony"/>-->
    <!--        <property name="volume" value="70"/>-->
    <!--    </bean>-->
</beans>